*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{

    background:#0f172a;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;

    color:white;

    padding:20px;
}

.container{

    width:100%;
    max-width:500px;

    background:#1e293b;

    padding:30px;

    border-radius:15px;

    box-shadow:0 10px 30px rgba(0,0,0,.5);

    text-align:center;
}

h1{

    margin-bottom:20px;

}

input{

    margin:20px 0;

}

button{

    margin-top:20px;

    padding:12px 25px;

    background:#3b82f6;

    color:white;

    border:none;

    border-radius:8px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;
}

button:hover{

    background:#2563eb;

}

.preview{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    justify-content:center;

    margin-top:20px;
}

.preview img{

    width:100px;

    height:100px;

    object-fit:cover;

    border-radius:8px;

    border:2px solid white;
}